/* .container{
    margin: 0px 10px;
    background-color: rgb(247, 247, 247);
} */

.background{
    background-color: rgb(247, 247, 247) ;
}

.header{
    padding: 10px 0px 8px 5px;
    margin: 0px 10px;
    background-color: rgb(247, 247, 247);
}

.header2{
    padding: 10px 0px 8px 10px;
    margin: 20px 10px 15px 10px;
    font-size: 20px;
    font-weight: 500;
}

.header2Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border: none;
    color: white;
    background-color: #256de1;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 2px 2px grey;
}

.line{
    border: none;
    background-color: rgb(221, 221, 221);
    height: 1px;
}


.digitalWarrantyBox{
    display: flex;
    justify-content: space-between;
}

.categories{
    width: 85%;
}

.warrantiesBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 4, 4);
    padding: 15px 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
    transition: all 300ms;
}

.btnContainer:hover{
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.5) 2px 2px 15px;
}

.warrantyButton{
    color: white;
    font-weight: 500;
}